   
h1{
    text-align: center;
    background-color: yellow;
}
h2{
    text-align: center;
    background-color: yellowgreen;
    font-size: 2px;
}
h4{
    background-color: yellow;
    text-align: center; 
}
@media (max-width: 768px) {
    .carousel-caption p{
       color: white;
       font-size: 10px;
    }
}
p{
    margin-left: 45px;
    margin-right: 30px;
}
.Menu{
    margin: 20px;
}
.navbar-nav ml-auto{
    text-align-last: right;
}
img{ 
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;  
    height: 100%;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
.ex{
    overflow: auto;
}
.tranerstyle{
    margin: 20px;  
}
.color{
    background-color: purple;
    text-align: center;
}   
.box{
    align-content: center;
  display:inline-block;
  top:100px;
  margin-left: 200px;    
  margin: 50px 0px;
  max-width: 300px;
  padding: 16px;
  background-color: yellow;
}
input[type=text], input[type=password], input[type=number]  {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  max-width: 250px;
 
}

input[type=text]:focus, input[type=password]:focus, input[type=number]:focus{
  background-color: #ddd;
  outline: none;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.btn:hover {
  opacity: 1;
} 
     
.footer{
    background-color: orange;
    text-align: center;
    display: block; 
    margin-bottom: 0;
}

    